@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';

.title {
    color: red;

    @include media-breakpoint-up(sm) {
        color: green;
    }
    @include media-breakpoint-up(md) {
        color: purple;
    }
}
