@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
    
body{
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Lora', serif;
}

header, header a, header a:hover, header a:visited{
    color: #FAEBD7;
    background-color: #6495ED;
    text-align: right;
    padding: 1rem;
    text-decoration: none;
}

header ul{
    list-style-type: none;
}

header li{
    padding: 1rem 0px;
}

main{
    background-color: #FAEBD7;
    padding: 1px;
}

main div{
    margin: 0px;
    background-color:white;
}

article{
    padding: 1rem;
    margin: 1rem 1rem 2rem;
    background-color: white;
    box-shadow: 2px 2px 5px lightgrey;
}

.post-content figure{
    display: block;
    text-align: center;
}

/* Nav Links */
/* normal and visited: #FAEBD7 and no underline ,  */
/* active: #DEB887,  */
/* hover: white and underlined */

nav a:link, nav a:visited{
    color:#FAEBD7;
    text-decoration: none;
}

nav a:active{
    color: #DEB887;
}

nav a:hover{
    color: white;
    text-decoration: underline;
}

/* Other page links should behave thus: 
/* normal and visited: #6495ED and no underline ,  */
/* active: #DEB887,  */
/* hover: underlined */

a:link, a:visited{
    color: #6495ED;
    text-decoration: none;
}

a:active{
    color: #DEB887;
}

a:hover{
    text-decoration: underline;
}

/* Article title links should behave thus: 
normal and visited: black and no underline 
active: #DEB887, 
hover: #6495ED and underlined */

.post-content h2 a{
    color: black;
    text-decoration: none;
}

.post-content h2 a:active{
    color: #DEB887;
}

.post-content h2 a:hover{
    color: #6495ED;
    text-decoration: underline;
}

@media screen and (min-width: 760px){

    body div{
        display: grid;
        grid-template-columns: 25vw 1fr;
    }

    header{
        grid-column: 1/2;
        padding: 1rem 3rem;
    }

    main{
        grid-column: 2/3;
    }


}