@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

h1, h2 {font-family: 'Lora', serif;}
p{ font-family:Helvetica, Arial, sans-serif;
}
body{background-color: #FAEBD7;}
main{background-color: #FAEBD7;
}
header{background-color: #6495ED;
    
    padding:5%;}
header h1 a{color:#FAEBD7;
    text-align: left;

}
header h1 a:active{color:#FAEBD7;
    text-align: left;

}
header h1 a:visited{color:#FAEBD7;
    text-align: left;

}

nav{background-color: #6495ED;
text-align: left;}
nav ul {
	list-style-type: none;
	margin: 10px;
	padding: 3px;
	overflow: hidden;
}
nav a{text-decoration:none;
color:#FAEBD7;}
nav a:hover{
    color:white;
    text-decoration:underline;
}
nav a:active{
    color:#DEB887;
}

nav a:visited{text-decoration:none;
    color:#FAEBD7;}

    a{text-decoration:none;
        color:#6495ED;

    }
    a:visited{text-decoration:none;
        color:#6495ED;}
        a:hover{
            
            text-decoration:underline;
        }
        a:active{
            color:#DEB887;
        }
article h2 a{color:black;

} 
article h2 a:visited{color:black;

} 
article h2 a:hover{color:#6495ED ;

} 

 article{background-color: white;
    box-shadow: 1px 1px 3px 1px #888;
    border-radius: 3px;
    border: 1px solid #888;
    margin:5%;

    padding:5px;
    text-align: center;
}
article img{
    width: 100%;
}
main article{
    width: 100%;
    min-width: 150px;
    max-width: 320px;
    margin-right:25%;
}


@media only screen and (min-width: 450px){
    main article{
        width: 100%;
        min-width: 200px;
        max-width: 500px;
    }

div{
    display: grid;
    grid-template-columns:1fr 1fr 1fr ;
   
  grid-gap:1em;
}
  header{grid-column: 1 /2;
    grid-row: 1 / 2;}
    

  main{grid-column: 2/4; 
    grid-row: 1 / 2;}

}
article img{
    width: 50%;
}