.site-banner {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 18vw 24vw;
	background-color: $light-gray;
	font-size: 10vw;
}
.site-banner a {
	color: white;
	text-decoration: none;
}
.site-banner__left {
	grid-column: 1 / 2;
	grid-row: 1;
	background-color: $body-font;
	height: 20vw;
	align-self: center;
	display: flex;
	align-items: center;
	justify-content: center;
}
.site-banner__right {
	height: 20vw;
	background-color: $byui-blue;
	grid-column: 2 / 5;
	grid-row: 1;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
.mobile-header-icon {
	padding: 10px;
}
.site-banner__title {
	grid-row: 2;
	grid-column: 1 / 5;
	display: grid;
	grid-template-columns: 25% 75%;
	background-color: $light-gray;
	border-bottom: solid 1px $body-font;
}
.site-banner__title h1 {
	grid-column: 2 / 3;
	font-family: "BYUI Open Sans", "Open Sans", "Lucida Sans Unicode",
		"Lucida Grande", Verdana, sans-serif;
	color: $dark-gray;
	font-size: 6vw;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	line-height: normal;
	letter-spacing: 0;
	text-align: left;
	margin: 0.67rem;
}
