@import "partials/typography";
@import "partials/icons";

$sm-break: 48em;

@import "partials/colors";
@import "partials/buttons";
// Utility classes
// *,
// 	*: before, *: after {
// 	-webkit-box-sizing: border-box;
// 	-moz-box-sizing: border-box;
// 	box-sizing: border-box;
// }

body {
	margin: 0;
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: auto;
}

img {
	max-width: 100%;
}
.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}
@import "partials/navigation";
@import "partials/form";
@import "partials/interestbox";
@import "partials/linkslist";
@import "partials/newsroom";
