@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';

.title {
    color: red;

    @include media-breakpoint-up(sm) {
        color: green;
    }
    @include media-breakpoint-up(md) {
        color: purple;
    }
    @include gradient-x(red, green, 0%, 100%);
}
.title {
    @include button-size(1rem, 1rem, 1.5rem, 15px);
}
